/* Estilos base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
    background-color: #eee;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
    height: 48px;
	padding: 0 5px;
}

/* NAVBAR */

:target:before {
    content:"";
    display:block;
    height:90px; /* ajustar este valor para que coincida con la altura de tu barra de navegación */
}

/* Estilos generales */
header {
background-color: #fff; /* color de fondo */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sombra */
padding: 20px 0; /* espacio interno */
position: fixed; /* fijamos en la parte superior de la pantalla */
top: 0;
left: 0;
width: 100%;
z-index: 100; /* importante para que quede por encima de otros elementos */
background: linear-gradient(45deg, red, #ff8c53);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #fff; /* color de texto */
    font-size: 1.5rem; /* tamaño de fuente */
    font-weight: bold; /* peso de fuente */
    text-transform: uppercase; /* convertir todo el texto a mayúsculas */
    transition: all 0.3s ease; /* animación de transición suave */
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Estilos de los enlaces */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
  
nav a:hover {
    color: rgb(193, 201, 210);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
  
  /* Estilos para el menú desplegable */
.menu-btn {
    display: none;
}
  
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    border-radius: 3px;
}
  
.menu-btn__burger {
    position: relative;
    cursor: pointer;
}
  
.menu-btn__burger::before,
.menu-btn__burger::after {
    position: absolute;
    content: "";
}
  
.menu-btn__burger::before {
    top: -8px;
}
  
.menu-btn__burger::after {
    top: 8px;
}
  
.nav-list {
    display: flex;
}
  
.nav-list li {
    margin-left: 20px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
  
  /* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        cursor: pointer;
    }
  
    .nav-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 10px;
        width: 35%;
        border-radius: 5px;
        background: linear-gradient(to bottom, #cf0000ce, #e66c0fd4);
        box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
  
    .nav-list li {
        margin-left: 0;
        margin-top: 10px;
    }
  
    .nav-list li:first-child {
        margin-top: 0;
    }
  
    .nav-list li a {
        font-size: 20px;
    }

    nav a:hover {
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }
  
    .menu-btn__burger {
        position: relative;
    }

    .menu-btn__burger::after,
    .menu-btn__burger::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 3px;
        transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger.active::before {
        transform: translate(-20%,-8px);
        width: 150%;
        transition: all 0.5s ease-in-out;

    }

    .menu-btn__burger.active::after {
        transform: translate(-20%,8px);
        width: 150%;
        transition: all 0.5s ease-in-out;

    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
    }

    .nav-list li.active {
        opacity: 1;
        transform: translateX(0);
        transition: all 1.5 ease-in-out;
    }

}  

h1{
    position: absolute;
    top: 250px;
    font-size: 150px;
    width: 100%;
    color: #f0d508ae;
    text-align: center;
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 60px;
        top: 270px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;

    }
}

/* HERO */

.hero {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px,
    rgba(0, 0, 0, 0.3) 0px 5px 30px -1px;
    position: relative;
    margin-bottom: 50px;
}

.hero::before{
    content: "";
    display: block;
    height: 0px;
}

.slider {
    display: flex;
    width: 500%;
    height: 580px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(60%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
}

.slider__btn:hover {
    background-color: #fff;
    cursor: pointer;
    transition: all 1.3 ease-in-out;
}

.slider__btn--right {
    right: 5px;
}

.slider__btn--left {
    left: 5px;
}
@media (max-width: 768px) {
    .hero {
    height: auto;
    min-height: 50vh;
    }
    
    .slider__img {
    margin: 0;
    }
    
    .slider__btn {
    font-size: 25px;
    padding: 5px;
    }
}

/* SERVICES */

/* Estilos para la sección SERVICES */
.services {
    padding: 25px 0;
    background-color: #fff;
}

.services__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.services__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.services_description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 1.5;
    text-align: justify;
    max-width: calc(62% - 10px);
}

.services__container p {
    margin-bottom: 30px !important;
    font-size: 20px;
}

.service {
    width: calc(65% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service ul {
    margin-top: -20px;
    margin-left: 20px;
}

.mr {
    margin-right: 10px;
}

.ml {
    margin-left: 10px;
    margin-top: 80px;
}

.service__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.service__description {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: justify;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    width: 100%;
}

.gallery__image {
    width: calc(33.333333% - 10px);
    aspect-ratio: 1/1;
    margin: 5px;
    object-fit: cover;
}

.gallery__image:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

/* Media queries para dispositivos móviles */

@media screen and (max-width: 768px) {
    .services__container {
        align-items: center;
        justify-content: center;
    }

    .services__container p {
        padding: 20px;
    }

    .service {
        width: 85%;
        margin: 0;
        margin-bottom: 50px;
    }

    .service__title {
        font-size: 2rem;
    }

    .service__description {
        margin-bottom: 0px;
    }

    .gallery {
        justify-content: center;
    }
    
    .gallery__image {
        width: 100%;
    }

    .gallery__image:hover {
    transform: none;
}
}

/* ABOUT US */
.about-us {
    background-color: #eee;
}

.about-us__container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 40px 0;
}

.about-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.2rem;
    text-align: justify;
}

@media screen and (max-width: 768px) {
  .about-us__container {
      padding: 20px;
  }

  .about-us p {
      font-size: 1.1rem;
  }
}

/* TESTIMONIALS */

.customers {
    background-color: #eee;
    padding: 45px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#customers-slider {
    display: flex;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    align-items: center;
}

#customers-slider::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23%;
    height: 260px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

#customers-slider::after {
    position: absolute;
    right: 0;
    content: "";
    width: 23%;
    height: 260px;
    background: linear-gradient(
        90deg,
        hsla(0, 0%, 96.9%, 0),
        hsla(0, 0%, 96.9%, 0.99) 99%
    );
}

.slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(24px * 10);
}

#customers-slider .slide img {
    width: 250px;
    aspect-ratio: 2/1;
    padding: 10px;
}

#customers-slider .slide p {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 3vh;
    -webkit-text-stroke: 2px rgba(65, 65, 65, 0.756);
    color: transparent;
}

.slider .slide {
    background-color: white;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
}

.slider .slide:hover {
    transform: scale(1.13);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
  
.customers h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: all ease-in-out;
    }

    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
        transition: all ease-in-out;
    }
}



/* .customer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    border: 3px solid #ff8c53;
}

.customer-item img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.customer-item q {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;

}

.customer-item cite {
    margin-top: 10px;
    text-align: right;
}
   */
@media screen and (max-width: 768px) {
    .hero-slider {
        padding: 20px;
    }

    .slide {
        max-width: 100%;
        min-height: 2vh;
        margin: 10px;
        
    }
  
    .slide img {
      min-width: 2rem;
      min-height: 2rem;
    }
  
    .slide p {
      font-size: 14px;
    }
}


/* CONTACTANOS */

.contact-us {
    background-color: #fff;
    padding-bottom: 80px;
    padding-top: 30px;
}

.contact-us h2 {
    font-size: 36px;
    text-align: center;
}

.contactBody{
    background-color:#fff ;
    background-size: cover;
    background-attachment: fixed;
    height:350px;
}

.title{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 42px;
    color: rgb(252, 252, 252);
}

#title-Tag-Line{
    font-size: 20px;
}

/* form animation starts */
.form {
    background: #F9F5F0;
    text-align: center; 
    box-shadow: 0px 0px 20px 5px #BAA5A5; 
    border-radius: 10px;  
    width: 35%; 
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;  
    animation: bounce 1.5s infinite;
}

.name { 
    background-color: #CF0000;
    border-bottom: 5px solid #E94B3C;
    color: white;
    width:300px;
}

::-webkit-input-placeholder{
    color: white;
     font-size: 15px;
}

.name:hover{
    background-color: RED;
    border-bottom: 5px solid #CF0000;
    width:350px;
}

.email {
    background-color: #e8b50c;  
    border-bottom: 5px solid #FFA07A;
    height:50px;
    width:300px;
    
}

.email:hover{
    background-color: rgb(255, 213, 0);  
    border-bottom: 5px solid #e8b50c;
    width:350px;
   
}

.message {   
    background-color: #e66c0f;
    overflow: hidden;
    height: 100px;  
    width:300px;
}

.message:hover{
    background-color: orange;
    border-bottom: 5px solid #e66c0f;
    width:350px;
}

.submit{
    border-radius:5px;
    padding:10px;
    background-color: #AAA;  
    border: none;
    transform: translateY(-120px); 
}

.submit:hover{
    border-bottom: 5px solid #000;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    width: 200px;
    height: 45px;
}

.entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
}

/* Shadow to make it look like form is floating  */
.shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
}

.submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #AAA;  
    border: none;
    margin-top: 150px; 
}


@keyframes bounce{
    0%{
      
    }
    50%{
      transform: translate(0, 8px);
    }

}

@keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
}

  
  /* Para tablets en orientación horizontal y ordenadores de baja resolución */
  
@media only screen and (max-width: 769px) {

    :target::before{
        content: "";
        display: block;
        height: 0px;
    }
    
    .contact-us {
        padding-top:30px;
        margin-bottom: 50px;
    }

    /* Ajuste el tamaño del título principal */
    .title {
        font-size: 42px;
    }
  
    /* Ajuste el tamaño del subtítulo */
    #title-Tag-Line {
        font-size: 20px;
    }
  
    /* Ajuste el tamaño del formulario */
    .form {
        width: 80%;
        max-height: 60%;
    }
  
    /* Ajuste el tamaño de los inputs del formulario */
    .name, .email, .message {
        width: 70%;
    }
  
    /* Ajuste el tamaño del botón de envío del formulario */
    .submit {
        width: 50%;
    }

    .name:hover, .email:hover{
        width: 90%;
    }

    .message:hover {
        width: 90%;
    }
}

/* FOOTER */

footer {
    background: linear-gradient(to right, #FF834E, #CF0000);
    color: white;
    padding: 1rem;
  }
  
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer__container-copy p {
    margin: 6px 0;
    font-style: bolder;
  }

  .footer__container-copy p:nth-child(2) {
    margin-bottom: -5px;
}

.footer__container-copy p:nth-child(1) {
    margin-top: -5px;
}
  
  .footer_container-rrss {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  
  .footer_container-rrss a {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  
  .footer_container-rrss i {
    transition: all 0.3s ease;
  }
  
  .footer_container-rrss i:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .footer_container-rrss {
      justify-content: flex-start;
    }
  
    .footer_container-rrss {
      margin: 0 auto;
      margin-top: 5px;
    }
  
    .footer__container-copy p:nth-child(2) {
      display: none;
    }
  }
  
  